<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>







    <header class="header">
        <p class="logo">Book Libraray</p>
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item">
              <a href="#" class="nav-link">About us</a>
            </li>
            <li class="nav-item">
              <a href="/viewbook" class="nav-link">Books</a>
            </li>
            <li class="nav-item">
              <a href="/addbook" class="nav-link">Add</a>
            </li>
          </ul>
        </nav>
      </header>
      <main class="main">
        <h1 class="heading">Find and Add best books</h1>
        <p class="text">Search through hundreds of books and author</p>
        <form  class="form" action="/viewbook">
          <button class="btn">View All Books</button>
        </form>
        <form  class="form" action="/addbook">
            <button class="btn" >Add New Book</button>
          </form>
          <form  class="form" action="/updatebook">
            <button class="btn">Update Book</button>
          </form>
          <form  class="form" action="/deletebook">
            <button class="btn">Delete Book</button>
          </form>

      </main>
 







</body>
</html>